<li class="providerRow">
    <div class="providerLeftPart">
        <div class="tarifName"><b>{{tariff.title}}</b></div>
        <div class="tarifSpeed"><span>{{tariff.speed}}</span></div>
        <div class="tarifDescription">{{tariff.desc|safe}}</div>
    </div>
    <div class="providerRightPart">
        <p class="price"><b>{{tariff.price}}</b> руб/мес</p>
        <a href="{% url 'order' %}?prvdr={{prvdr.pk}}&tariff={{tariff.pk}}" class="button">Подключить</a>
    </div>
</li>