{% extends 'base.html' %}

{% block addresses %}
<section class="news">
    <div class="contentWrapper">
        <h2>Список подключенных провайдеров</h2>
        <ul class="newsList">
            <li class="newsItem">
                <div class="newsAnounce">
                    <h3>ЕСТЬ МНОГО ВАРИАНТОВ LOREM IPSUM</h3>
                    <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации</p>
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock %}