<section class="searchBar">
    <div class="contentWrapper">
        <h2>Подключен ли ваш дом</h2>
        <form class="searchForm">
            {% csrf_token%}
            <label>Адрес:</label>
            <input type="text" name="street" value="" placeholder="Введите свою улицу" class="adressMain" required="required">
            <input type="hidden" name="street_pk" value="">
            <input type="text" name="house" value="" placeholder="дом" class="adressHouse" required="required">
            <input type="text" name="housing" value="" placeholder="корпус" class="adressCorp">
            <button class="searchBtn">Проверить</button>
        </form>

        <script type="text/javascript">
        $(document).ready(function() {
            var street_pk = $('form[class=searchForm] input[name=street_pk]');
            var street =  $('form[class=searchForm] input[name=street]');
            var house = $('form[class=searchForm] input[name=house]');
            var housing = $('form[class=searchForm] input[name=housing]');

            street.autocomplete({
              source: function( request, response ) {
                $.ajax({
                    url: '{% url 'address:street_names' %}?title='+request.term,
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                        return {
                            label: item.title,
                            value: item.id,
                        }
                    }));
                    }
                });
              },
            select: function(event, ui) {
                $(this).val(ui.item.label);
                street_pk.val(ui.item.value);
                house.val('');
                housing.val('');
                return false;
            },
              minLength: 3,
            });

            house.autocomplete({
              source: function( request, response ) {
                if (street_pk.val()) {
                    $.ajax({
                        url: '{% url 'address:addresses' %}?houses='+request.term+'&street_pk='+street_pk.val(),
                        success: function( data ) {
                            response( $.map( data, function( item ) {
                                var house = item.house;
                                if (item.housing) {
                                    house = item.house+' к. '+item.housing;
                                }
                            return {
                                label: house,
                                value: item.house,
                                housing: item.housing,
                            }
                        }));
                        }
                    });
                }
              },
            select: function(event, ui) {
                $(this).val(ui.item.value);
                housing.val(ui.item.housing);
                return false;
            },
              minLength: 1,
            });
        });
        </script>
    </div>
</section>