{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'partial/head.html' %}
    {% block head_extra %}{% endblock %}
    {% if systemtune.yandex_metrics or systemtune.google_analytics %}
        {{systemtune.yandex_metrics|safe}}
        {{systemtune.google_analytics|safe}}
    {% endif %}
</head>
<body>
    {% block header %}
        {% include 'partial/header.html' %}
    {% endblock %}

    {% block top %}
        {% include 'partial/topblock.html' %}
    {% endblock %}

    {% block searchbar %}
        {% include 'partial/filters/searchbar.html' %}
    {% endblock %}

    {% block addresses %}
        {% include 'partial/addresses.html' %}
    {% endblock %}

    {% block news %}
        {% include 'partial/reviews.html' %}
    {% endblock %}

    {% block footer %}
        {% include 'partial/footer.html' %}
    {% endblock %}

</body>
</html>