{% extends 'base.html' %}

{% block news %}
<section class="news">
    <div class="contentWrapper">
    {% for n in object_list %}
        <h3>{{n.title}}</h3>
        {{n.desc|safe}}
    {% endfor %}
    </div>
</section>
{% endblock %}