{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'partial/head.html' %}
    {% block head_extra %}{% endblock %}
</head>
<body>
    {% block header %}
        {% include 'partial/header.html' %}
    {% endblock %}

    {% block top %}
        {% include 'partial/topblock.html' %}
    {% endblock %}

    {% block searchbar %}
        {% include 'partial/filters/searchbar.html' %}
    {% endblock %}

    {% block addresses %}
        {% include 'partial/address_order_form.html' %}
    {% endblock %}

    {% block footer %}
        {% include 'partial/footer.html' %}
    {% endblock %}

</body>
</html>