{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load url from future %}
{% load admin_urls %}

{% block content %}
<form method="post"  {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} action="{% url 'update_addresses'%}">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Добавить адреса из файла</button>
</form>
{% endblock %}