/*Reset css section */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;	padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a:active, a:focus, img{outline:none;}


/*Main template styles*/
html{height:100%;text-align:center;}
body{
	background:#fff;
	font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-style:normal;
	color:#000;
	font-size:110%;
	line-height:150%;
	}

p,ul,ol{
	margin:0.7em 0;
	padding:0;
	text-align:left;
	}
ul,ol{
	padding:0 0 0 0px;
	margin:0.7em 0 0.7em 2em;
	}

h1,h2,h3,h4,h5,h6{
	margin:1em 0;
	text-align:left;
	font-weight:600;
	}

strong{
	font-weight:bold;
	}
em{
	font-style:italic;
	}

td{
	vertical-align:top;
	}

a{
	color:#047c86;
	text-decoration:underline;
	cursor:pointer;
	}
a:hover{
	color:#05a6b3;
	text-decoration:none;
	}
.header{
	height:80px;
	overflow:visible;
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:10;
	}
	.headerWrapper{
		width:960px;
		margin:0 auto;
		text-align:right;
		background:#222222;
		}
		.logo{
			display:block;
			width:120px;
			height:60px;
			padding:10px 20px ;
			float:left;
			background:#05a6b3;
			border-right:6px solid #047c86;
			}
			.logo a{
				color:#ffffff;
				font-size:160%;
				text-decoration:none;
				}
		.topNav{
			display:inline-block;
			width:780px;
			padding:0;
			}
			.topNavList{
				display:block;
				list-style:none;
				margin:0;
				padding:0;
				text-align: right;
				}
			.topNavItem{
				display:inline-block;
				margin:0;
				padding:0 1em;
				line-height:80px;
				}
				.topNavItem:hover{
					background:#000000;
					}
				.topNavItem a{
					color:#ffffff;
					text-transform:uppercase;
					text-decoration:none;
					}
.topBlock{
	height:590px;
	position:relative;
	}
.contentWrapper{
	width:960px;
	margin:0 auto;
	padding:2em 0 0.5em 0;
	text-align:center;
	position:relative;
	z-index:1;
	}
	.contentWrapper h2{
		display:block;
		margin:0;
		min-height:95px;
		font-size:2em;
		font-weight:bold;
		line-height:1.2em;
		text-align:center;
		}
.onSlide{
	padding:0;
	position:absolute;
	width:auto;
	bottom:0;
	left:0;
	right:0;
	z-index:6;
	}
.vectorslist{
	display:block;
	min-height:200px;
	width:960px;
	margin:0 auto;
	padding:20px 10px 10px 10px;
	list-style:none;
	background: rgba(255,255,255,0.5);
	overflow:hidden;
	}
	.vectorcol{
		display:block;
		width:220px;
		height:260px;
		margin:0 10px;
		padding:35px 40px 25px 40px;
		float:left;
		text-align:center;
		font-size:80%;
		background:rgba(255,255,255,0.8);
		overflow: hidden;
		}
		.vectorcol .vectorWrapper{
			display:block;
			width:220px;
			height:260px;
			overflow: hidden;
			}
		.vectorcol:hover{
			background:#05a6b3;
			}
		.vectorcol h3{
			text-align:center;
			font-size:120%;
			line-height:1.4em;
			}
		.vectorcol p{
			line-height:1.4em;
			margin:0 0 1.4em 0;
			}
		.vectorcol .vectorWrapper img{
			height:94px;
			}
.searchBar{
	background:#222222;
	color:#ffffff;
	}
	.searchBar h2{
		height:60px;
		line-height:60px;
		}
	.searchForm{
		display:block;
		height:50px;
		padding:0 0 1em 0;
		}
	.searchForm label{
		display:block;
		width:120px;
		line-height:2.2em;
		float:left;
		}
	.searchForm input{
		display:block;
		width:620px;
		float:left;
		margin:0 0.5em 0 0;
		line-height:1.3em;
		font-size:110%;
		padding:5px 10px;
		border: 1px solid #e6e6e6;
		}
	.searchForm .adressMain{
		width:420px;
		}
	.searchForm .adressHouse{
		width:70px;
		}
	.searchForm .adressCorp{
		width:70px;
		}
		.searchForm input:focus{
			border:1px solid #05a6b3;
			}
	.searchForm button{
		display:block;
		width:120px;
		float:left;
		line-height:1.3em;
		font-size:110%;
		color:#ffffff;
		padding:5px 10px;
		background:#05a6b3;
		border:0;
		border-right:6px solid #047c86;
		}
		.searchForm button:hover{
			background:#047c86;
			cursor:pointer;
			}
.resultAdress{
	text-align:center;
	margin-bottom:2em;
	}
.providersList{
	margin:0.5em 0 1em 0;
	padding:0;
	list-style:none;
	}
	.providerRow{
		display:block;
		padding:0.7em 1em 1.2em 1em;
		border-top:1px solid #e6e6e6;
		overflow:hidden;
		}
	.providerRow:hover{
		border-top:1px solid #05a6b3;
		background:#f9f9f9;
		}
		.providerName{
			display:block;
			width:120px;
			float:left;
			margin:0 1em 0 0;
			}
		.providerLeftPart{
			display:block;
			width:610px;
			float:left;
			margin:0 1em;
			}
		.providerLeftPart .providerServices{
			margin:0.5em 0;
			}
			.providerDescriptionsTab .providerLeftPart{
				width:490px;
				margin:0 1em 0 0;
				}
			.tarifName{
				display:inline-block;
				min-width:200px;
				}
			.tarifSpeed{
				display:inline-block;
				min-width:200px;
				}
				.tarifSpeed span{
					margin-right:2em;
					}
			.tarifDescription{
				font-size:90%;
				line-height:1.4em;
				margin:1em 0 0 0;
				}
		.providerRightPart{
			display:block;
			width:120px;
			float:left;
			}
			.button{
				display:block;
				min-width:120px;
				float:left;
				line-height:1.3em;
				font-size:110%;
				color:#ffffff;
				padding:5px 10px 5px 15px;
				background:#05a6b3;
				border:0;
				border-right:6px solid #047c86;
				text-decoration:none;
				}
			.button:hover{
				background:#047c86;
				cursor:pointer;
				color:#ffffff;
				}
			#order_form .button{
				float:none;
				margin:0 auto 10px auto;
				}
.providersList,
.providersList.providerTV,
.providersList.providerPhone{
	border-top:2px solid #047c86;
	}
.providerDescription{
	padding:0.7em 1em 1.2em 1em;
	margin:0.5em 0 0 0;
	border-top:1px solid #e6e6e6;
	font-size:90%;
	}
.providerCard{
	display:block;
	padding:0.7em 1em 1.2em 1em;
	margin:0 0 0.5em 0;
	text-align:left;
	border-top:1px solid #e6e6e6;
	overflow:hidden;
	}
	.providerLogo{
		width:140px;
		float:left;
		padding:2em 0 0 0;
		}
		.providerLogo img{
			width:140px;
			}
	.providerResume{
		width:680px;
		margin:0 0 0 20px;
		float:left;
		}
		.providerResume h3{
			margin:0 0 1em 0;
			font-size:130%;
			}
		.providerServices{
			margin:0 0 1em 0;
			}
		.providerContactRow{
			font-size:90%;
			overflow:hidden;
			}
			.providerContactLeft{
				width:100px;
				float:left;
				margin:0 20px 0 0;
				}
		.providerResumeLinks{
			margin:1em 0 0 0;
			}
			.providerResumeLinks a{
				margin:0;
				display:inline-block;
				padding:0.3em 0.5em;
				}
	.providerRating{
		float:left;
		padding:2em 0 0 0;
		text-align:center;
		}
		.providerRatingCounter{
			display:inline-block;
			padding:0.2em 1em;
			margin:0.3em 0;
			color:#ffffff;
			background:#f85e20;
			}
.rightTops{
	width:160px;
	float:right;
	margin:0 0 1em 2em;
	}
	.rightTopItem{
		display:block;
		margin:0 0 1em 0;
		padding:0.5em 1em;
		text-align:center;
		text-decoration:none;
		color:#000;
		border:1px solid #e6e6e6;
		box-shadow:0 0 2px #e6e6e6;
		overflow:hidden;
		}
		.rightTopItem:hover{
			color:#000;
			border:1px solid #05a6b3;
			box-shadow:0 0 4px #e6e6e6;
			}
		.rightTopItemTitle{
			text-align:center;
			margin:0;
			font-size:120%;
			}
		.rightTopItem .providerRating{
			text-align:center;
			margin:0;
			padding:0;
			float:none;
			}
.commentCard{
	display:block;
	padding:0.7em 1em 1.2em 1em;
	margin:0 0 0.5em 0;
	text-align:left;
	border-top:1px solid #e6e6e6;
	overflow:hidden;
	}
	.commentCard:hover{
		border-top:1px solid #05a6b3;
		}
		.commentPart{
			margin:0 0 0 160px;
			}
		.starRating{
			width:80px;
			height:20px;
			float:right;
			background:url(../images/design/star-inactive.png) 0 center repeat-x;
			}
			.rating1,
			.rating2,
			.rating3,
			.rating4,
			.rating5{
				width:16px;
				height:20px;
				background:url(../images/design/star-active.png) 0 2px repeat-x;
				}
			.rating1{width:16px;}
			.rating2{width:32px;}
			.rating3{width:48px;}
			.rating4{width:64px;}
			.rating5{width:80px;}
		.commentAuthor{
			font-weight:600;
			}
		.commentInfo time{
			color:#9e9e9e;
			margin:0 1em;
			}
		.addComment{
			text-decoration:none;
			color:#9e9e9e;
			}
.actionsList{
	margin:0.5em 0 1em 0;
	padding:0;
	list-style:none;
	}
	.actionsRow{
		display:block;
		padding:0.7em 1em 1.2em 1em;
		border-top:1px solid #e6e6e6;
		overflow:hidden;
		}
	.actionsRow:hover{
		border-top:1px solid #05a6b3;
		background:#f9f9f9;
		}
		.actionsRow .providerLogo{
			margin-right:20px;
			}
		.actionTime{
			font-size:80%;
			color:#676767;
			}
		.actionMoreLink{
			width:150px;
			float:right;
			text-align:center;
			}
		.actionPrice{
			float:right;
			margin:0.3em 2em;
			font-weight:bold;
			}
	.actionTags a{
		margin:0 1em 0 0;
		font-size:80%;
		color:#676767;
		}
.providerHeader{
	margin:0 0 2em 0;
	}
	.leftLogo{
		float:left;
		width:140px;
		margin:1em 2em 0 0;
		}
	.providerHeader a{
		display:inline-block;
		padding:0.2em 1em;
		}
		.providerHeader a.active,
		.providerResumeLinks a.active{
			color:#ffffff;
			text-decoration:none;
			background:#05a6b3;
			}
.rightBlockProvider{
	width:200px;
	float:right;
	font-size:90%;
	margin:0 0 1em 2em;
	padding:0.5em 1em;
	border:1px solid #e6e6e6;
	box-shadow:0 0 2px #e6e6e6;
	}
.commentsBlockProvider{
	width:690px;
	}
	.commentsBlockProvider .commentPart{
		margin:0;
		}
.addComment{
	margin:0 0 2em 0;
	}
.rateThis{
	float:right;
	}
	.rateThis label{
		margin:0 1em 0 0;
		}
	.fancyField{
		display:block;
		border:1px solid #9e9e9e;
		padding:0.6em 1em;
		margin:0.3em 0 1em 0;
		width:230px;
		}
	textarea.fancyField{
		width:660px;
		height:90px;
		}
	.addComment .button{
		width:auto;
		float:none;
		}
	.captcha{
		height:48px;
		padding:0.2em 0;
		text-align:left;
		}
		.captcha img{
			float:left;
			}
		.captcha input{
			display:block;
			border:1px solid #9e9e9e;
			padding:0.6em 1em;
			margin:0.2em 0 1em 0;
			width:126px;
			}
	.addComment .starRating{
		position:relative;
		margin:6px 0;
		}
	.addComment .ratingField{
		width:80px;
		height:20px;
		position:absolute;
		z-index:2;
		}
		.addComment .ratingField input{
			display:block;
			float:left;
			width:16px;
			height:20px;
			padding:0;
			margin:0;
			opacity:0;
			}
		.addComment .rating1,
		.addComment .rating2,
		.addComment .rating3,
		.addComment .rating4,
		.addComment .rating5{
			position:absolute;
			z-index:1;
			}
.news{
	background:#ffffff;
	color:#373435;
	}
	.newsList{
		display:block;
		margin:20px auto 30px auto;
		overflow:hidden;
		}
		.newsItem{
			display:block;
			width:218px;
			float:left;
			margin:0 0 0 12px;
			border-color: #05a6b3;
			border: 1px solid #e6e6e6;
			font-size:90%;
			line-height:1.3em;
			text-align:center;
			}
		.newsItem:first-child{
			margin:0;
			}
		.newsItem:hover{
			border:1px solid #05a6b3;
			}
			.newsItem img{
				height:145px;
				}
			.newsAnounce{
				padding:10px;
				text-align:left;
				}
			.newsMore{
				display:block;
				float:right;
				color:#ffffff;
				padding:5px 14px;
				text-decoration:none;
				background:#05a6b3;
				border-right:6px solid #047c86;
				}
				.newsMore:hover{
					background:#047c86;
					color:#ffffff;
					}
.owl-carousel{
	height:590px;
	}
.bannerSlide{
	padding:0;
	height:590px;
	overflow:hidden;
	text-align:center;
	background:#d5d5d5;
	}
	.bannerSlide img{
		height:100%;
		}
.prevSlide,
.nextSlide{
	top:48%;
	position:absolute;
	display:block;
	font-size:0;
	text-decoration:none;
	height:27px;
	width:15px;
	background:url(../images/design/arrows.png) 0 0 no-repeat;
	}
	.prevSlide{
		left:60px;
		background:url(../images/design/arrows.png) 0 0 no-repeat;
		}
	.nextSlide{
		right:60px;
		background:url(../images/design/arrows.png) -15px 0 no-repeat;
		}
.breadCrumbs{
	display:block;
	width:730px;
	padding:5px 0;
	overflow:hidden;
	}
	.breadCrumbs ul{
		display:block;
		margin:0;
		padding:0;
		list-style:none;
		}
	.breadCrumbs li{
		float:left;
		margin:0 9px 0 0;
		color:#234e9c;
		}
	.breadCrumbs a{
		color:#676767;
		}
footer{
	background:#222222;
	font-size:90%;
	height:60px;
	overflow:hidden;
	clear:both;
	}
	footer .contentWrapper{
		padding:0;
		}
.footercopyright{
	width:340px;
	float:left;
	padding:6px 10px;
	color:#878485;
	}
.bottomNav{
	float:left;
	width:600px;
	padding:0;
	}
	.bottomNavList{
		margin:0;
		padding:16px 0;
		height:40px;
		list-style:none;
		}
		.bottomNavItem{
			display:block;
			float:left;
			margin:0 0 0 20px;
			}
		.bottomNavItem a{
			color:#ffffff;
			}
.hidden{
	display:none;
	visibility:hidden;
	}
.clear{
	float:none;
	clear:both;
	overflow:hidden;
	padding:1px 0;
	}