{% extends 'base.html' %}

{% block news %}
<section class="news">
    <div class="contentWrapper">
        <h2>Список интернет провайдеров - Санкт-Петербург</h2>
        {% for prvdr in object_list %}
        <div class="providerCard">
            <div class="providerLogo">
                <a href="{{prvdr.get_absolute_url}}"><img src="{{prvdr.adaptive_logo_url}}" alt="{{prvdr.title}}"></a>
            </div>
            <div class="providerResume">
                <h3>{{prvdr.title}}</h3>
                <div class="providerServices">
                    {% for srvs in prvdr.services.all %}
                    <img src="{{STATIC_PREFIX}}images/design/{{srvs.tp}}" alt="{{srvs.title}}">
                    {% endfor %}
                </div>
                <div class="providerContactRow">
                    {#{prvdr.desc|safe}#}
                </div>
                <div class="providerResumeLinks">
                    <a href="#actions">Акции</a>
                    <a href="#tarifs">Тарифы</a>
                    <a href="{% url 'reviews:reviews_list' %}?provider={{prvdr.pk}}">Отзывы</a>
                    <a href="#about">О компании</a>
                </div>
                <div class="providerDescriptionsTabs">
                    <div class="providerDescriptionsTab providerDescription">
                        <h3>{{prvdr.title}}</h3>
                        {{prvdr.desc|safe}}
                    </div>
                    <div class="providerDescriptionsTab providerTarifes">
                        {% if prvdr.tariffs.internet %}
                        <ul class="providersList">
                            {% for tariff in prvdr.tariffs.internet %}
                                {% include 'partial/provider_tariff.html' with tariff=tariff prvdr=prvdr %}
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% if prvdr.tariffs.internet_tv %}
                        <ul class="providersList">
                            {% for tariff in prvdr.tariffs.internet_tv %}
                                {% include 'partial/provider_tariff.html' with tariff=tariff prvdr=prvdr %}
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {% if prvdr.tariffs.internet_phone_tv %}
                        <ul class="providersList">
                            {% for tariff in prvdr.tariffs.internet_phone_tv %}
                                {% include 'partial/provider_tariff.html' with tariff=tariff prvdr=prvdr %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="providerDescriptionsTab providerActions">
                        <ul class="providersList">
                            {% for special in prvdr.specials.actual_specials %}
                            <li class="providerRow">
                                <div class="providerLeftPart">
                                    <time class="actionTime">{{special.start_date}}</time><br>
                                    <div class="tarifName"><h3><a href="{{special.get_absolute_url}}">{{special.title}}</a></h3></div>
                                    <div class="tarifDescription">{{special.desc|safe}}</div>
                                </div>
                                <div class="providerRightPart">
                                    {% if special.tariffs %}
                                    <p class="price">{{special.tariffs.price}} руб/мес</p>
                                    <a href="{% url 'order' %}?prvdr={{prvdr.pk}}&tariff={{special.tariffs.pk}}" class="button">Подключить</a>
                                    {% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="providerRating">
                <div class="providerRatingTitle">Рейтинг:</div>
                <div class="providerRatingCounter">{{prvdr.rating|default:'-'}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}