{% extends 'base.html' %}
{% load widget_tweaks %}
{% block news %}
<section class="news">
    <div class="contentWrapper">
        <h2>Акции интернет провайдеров - Санкт-Петербург</h2>
        <ul class="providersList">
            {% for special in object_list %}
            <li class="providerRow">
                <div class="providerLogo">
                    {% for provider in special.provider_set.all %}
                    <a href="{{provider.get_absolute_url}}"><img src="{{provider.logo_120_url}}" alt="{{provider.title}}"></a>
                    {% endfor %}
                </div>
                <div class="providerLeftPart">
                    <time class="actionTime">{{special.start_date}}</time><br>
                    <div class="tarifName">{{special.title}}</div>
                    <div class="tarifDescription">{{special.desc|safe}}</div>
                </div>
                <div class="providerRightPart">
                    {% if special.tariffs %}
                    <p class="price"><b>{{special.tariffs.price}}</b> руб/мес</p>
                    <a href="{% url 'order' %}?prvdr={{prvdr.pk}}&tariff={{special.tariffs.pk}}" class="button">Подключить</a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}