{% extends 'base.html' %}
{% load widget_tweaks %}
{% block news %}
<section class="news">
    <div class="contentWrapper">
        <h2>Отзывы пользователей о провайдерах - Санкт-Петербург</h2>
        {% comment %}
        <div class="rightTops">
            <h3>Топ обсуждаемых</h3>
            <a href="#" class="rightTopItem">
                <p class="rightTopItemTitle">Beeline</p>
                <img src="images/design/logo-beeline_96x96_2.png" alt="beeline">
                <div class="providerRating">
                    <div class="providerRatingTitle">Рейтинг:</div>
                    <div class="providerRatingCounter">4,8</div>
                </div>
            </a>
            <a href="#" class="rightTopItem">
                <p class="rightTopItemTitle">skynet</p>
                <img src="images/design/logo-skynet-96x96.png" alt="skynet">
                <div class="providerRating">
                    <div class="providerRatingTitle">Рейтинг:</div>
                    <div class="providerRatingCounter">4,7</div>
                </div>
            </a>
            <a href="#" class="rightTopItem">
                <p class="rightTopItemTitle">WestCall</p>
                <img src="images/design/logo-westcall-95x95.png" alt="WestCall">
                <div class="providerRating">
                    <div class="providerRatingTitle">Рейтинг:</div>
                    <div class="providerRatingCounter">4,8</div>
                </div>
            </a>
        </div>
        {% endcomment %}
        {% for review in object_list %}
        <div class="commentCard">
            <div class="providerLogo">
                <a href="{{review.provider.get_absolute_url}}"><img src="{{review.provider.adaptive_logo_url}}" alt="{{review.provider.title}}"></a>
            </div>
            <div class="commentPart">
                <div class="starRating">
                    <div class="rating{{review.rate}}"></div>
                </div>
                <div class="commentInfo">
                    <span class="commentAuthor">{{review.name}}</span>
                    <time>{{review.added}}</time>
                    {#<a href="#this"><img src="images/design/icon-link.png" alt="ссылка на комментарий"></a>#}
                </div>
                <p>{{review.text}}</p>
                <a href="#review_form" class="addComment" prvdr="{{review.provider.id}}">+ Добавить отзыв</a>
            </div>
        </div>
        {% empty %}
        <div class="commentCard">
            <div class="commentPart">
                <p>Нет отзывов</p>
                <a href="#review_form" class="addComment" prvdr="">+ Добавить отзыв</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div style="display:none">
        <form id="review_form" class="addComment" method="post" action="">
            {% csrf_token %}
            <h3>Написать отзыв</h3>
            <div class="rateThis">
                <p id="form_invalid" class="error">Заполните все поля</p>
                <div class="starRating">
                    <div class="rating5" id="rating"></div>
                    <fieldset class="ratingField">
                        <input type="radio" name="rate" id="id_rate" value="1">
                        <input type="radio" name="rate" id="id_rate" value="2">
                        <input type="radio" name="rate" id="id_rate" value="3">
                        <input type="radio" name="rate" id="id_rate" value="4">
                        <input type="radio" name="rate" id="id_rate" value="5" checked>
                    </fieldset>
                </div>
                {% render_field review_form.name required="required" class="fancyField" placeholder="Ваше имя" %}
                {% render_field review_form.text required="required" class="fancyField" placeholder="Комментарий" %}
                {% render_field review_form.provider required="required" class="fancyField" placeholder="Провайдер" %}
                {% comment %}
                <div class="captcha">
                    <img src="/static/images/captcha.jpg" alt="Tr5nb">
                    <input type="text" name="captcha" placeholder="каптча">
                </div>
                {% endcomment %}
                <button type="submit" class="button">Написать отзыв</button>
            </div>
        </form>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function() {
        $('a.addComment').fancybox({
            'scrolling': 'no',
            'titleShow': false,
            'onClosed': function() {
                $("#form_invalid").hide();
            },
            onStart: function(element) {
                $("#id_provider [value='"+$(element).attr('prvdr')+"']").attr("selected", "selected");
                console.log($(element).attr('prvdr'));
            }
        });
    });
    $(document).on('submit','#review_form', function(event) {
        event.preventDefault();
        if ($("#id_name").val().length < 1){
                $("#form_invalid").show();
                $.fancybox.resize();
            }
        $.fancybox.showActivity();
        $.ajax({
            type: "POST",
            cache: false,
            url: "{% url 'reviews:review_create' %}",
            data: $(this).serializeArray(),
            success: function(data) {
                $.fancybox('<div class="textblock">Отзыв отправлен на модерацию успешно!</div>');
            }
        });

        return false;
    });
</script>
{% endblock %}