{% load widget_tweaks %}
<section class="news">
    <div class="contentWrapper" id="address"><div id="providers"></div></div>
    <div style="display:none">
        <form id="order_form">
            {% csrf_token %}
            <div class="textblock">
                <p id="form_invalid" class="error">Заполните все поля</p>
                {% render_field order_form.fio placeholder=order_form.fio.label required="required" class="fancyField" %}<br/>
                {% render_field order_form.apartment placeholder=order_form.apartment.label required="required" class="fancyField" %}<br/>
                {% render_field order_form.phone placeholder=order_form.phone.label required="required" class="fancyField" %}<br/>
                {% render_field order_form.time placeholder=order_form.time.label required="required" class="fancyField" %}<br/>
                <input type="hidden" name="address" value="" id="id_address">
                <input type="hidden" name="provider" value="" id="id_provider">
                <input type="hidden" name="tariff" value="" id="id_tariff">
                <button type="submit" class="button">Подключить</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('form.searchForm').on("submit", function(event){
                event.preventDefault();
                var params = $(this).serialize();
                if (params) {
                    get_providers_data(params);
                }
                return false;
            });

            function get_providers_data(params) {
                var url = '{% url 'address:addresses' %}?search=1'
                if (params) {
                    url = url + '&' + params;
                }
                if ($.urlParam('prvdr')) {
                    url=url+'&prvdr='+$.urlParam('prvdr');
                }
                $.ajax({
                    url: url,
                    success: function( data ) {
                        $("#providers").remove();
                        if (data.length > 0) {
                            $('#address').append('<div id=\"providers\"></div>');
                            $('#providers').append($('form#order_form'));
                            $('form#order_form input[name=tariff]').val($.urlParam('tariff'));
                            $('form#order_form input[name=provider]').val($.urlParam('prvdr'));
                            $('form#order_form input[name=address]').val(data[0].id);
                        }
                        else {
                            $('#address').append('<div id=\"providers\"><p>К сожалению, данный провайдер не подключает по вашему адресу.</p><p><a href=\"/?'+params+'\" id=\"others\">Посмотреть других провайдеров</a></p></div>');
                        }
                    }
                });
            };
        });
    </script>

    <script type="text/javascript">
        jQuery('#id_time').datetimepicker({
              //inline:true,
              lang:'ru',
              format: 'Y-m-d H:i',
              minDate: 0,
              minTime: '9:00',
        });
        $(document).on('submit','#order_form', function(event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                cache: false,
                url: "{% url 'orders:order_create' %}",
                data: $(this).serializeArray(),
                success: function(data) {
                    $("#providers").remove();
                    $('#address').append('<div class="textblock">Заявка отправлена успешно!</div>');
                }
            });

            return false;
        });
    </script>
</section>