{% load widget_tweaks %}
<section class="news">
    <div class="contentWrapper" id="address">
        {%if results %}
        <div id="providers">
            <h2>Тарифы интернет-провайдеров</h2>
            {% for addr in results %}
            <p class="resultAdress" addressid="{{addr.id}}">По адресу: <b>{{addr.full_address}}</b></p>
            {% for prvdr in addr.providers.all %}
            <h3 providerid="{{prvdr.id}}">{{prvdr.title}}</h3>
            <ul class="providersList">
                    {% for trf in prvdr.tariffs.all %}
                    <li class="providerRow" tariffid="{{trf.id}}">
                        <div class="providerLogo">
                            <a href="{{prvdr.get_absolute_url}}"><img src="{{prvdr.logo_120_url}}" alt="{{prvdr.title}}"></a>
                        </div>
                        <div class="providerLeftPart">
                            <div class="tarifName"><b>{{trf.title}}</b></div>
                            <div class="tarifSpeed"><span>{{trf.speed}}</span></div>
                            <div class="tarifDescription">{{trf.desc|safe}}</div>
                        </div>
                        <div class="providerRightPart">
                            {% comment %}
                            <div class="providerServices">
                            {% for srv in trs.services %}
                                <img src="/static/images/design/{{srv.tp}}" alt="{{srv.title}}">
                            {%endfor%}
                            </div>
                            {% endcomment %}
                            <p class="price"><b>{{trf.price}}</b> руб/мес</p>
                            <a href="#order_form" class="button">Подключить</a>
                        </div>
                    </li>
                    {% endfor %}
            </ul>
            {% endfor %}
        </div> 
        {% endfor %}
        {% else%}
        <div id="providers"></div>
        {% endif %}
    </div>
    <div style="display:none">
        <form id="order_form">
            {% csrf_token %}
            <div class="textblock">
                <p id="form_invalid" class="error">Заполните все поля</p>
                {% render_field order_form.fio placeholder=order_form.fio.label required="required" class="fancyField" %}<br/>
                {% render_field order_form.apartment placeholder=order_form.apartment.label required="required" class="fancyField" %}<br/>
                {% render_field order_form.phone placeholder=order_form.phone.label required="required" class="fancyField" %}<br/>
                {% render_field order_form.time placeholder=order_form.time.label required="required" class="fancyField" %}<br/>
                <input type="hidden" name="address" value="" id="id_address">
                <input type="hidden" name="provider" value="" id="id_provider">
                <input type="hidden" name="tariff" value="" id="id_tariff">
                <button type="submit" class="button">Подключить</button>
            </div>
        </form>
    </div>  
    <script id="providers-template" type="text/x-handlebars-template">
        {% verbatim %}
        <div id="providers">
        <h2>Тарифы интернет-провайдеров</h2>
        {{#each results}}
        <p class="resultAdress" addressid="{{id}}">По адресу: <b>{{full_name}}</b></p>
            {{#each providers}}
                <h3 providerid="{{id}}">{{title}}</h3>
                {{#if inet_trfs}}
                <ul class="providersList">
                    {{#each inet_trfs}}
                    <li class="providerRow" tariffid="{{id}}">
                        <div class="providerLogo">
                            <a href="{{../url}}"><img src="{{../logo_120_url}}" alt="{{../title}}"></a>
                        </div>
                        <div class="providerLeftPart">
                            <div class="tarifName"><b>{{title}}</b></div>
                            <div class="tarifSpeed"><span>{{speed}}</span></div>
                            <div class="tarifDescription">{{{desc}}}</div>
                        </div>
                        <div class="providerRightPart">
                            <p class="price"><b>{{price}}</b> руб/мес</p>
                            <a href="#order_form" class="button">Подключить</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
                {{#if tv_trfs}}
                <ul class="providersList">
                    {{#each tv_trfs}}
                    <li class="providerRow" tariffid="{{id}}">
                        <div class="providerLogo">
                            <a href="{{../url}}"><img src="{{../logo_120_url}}" alt="{{../title}}"></a>
                        </div>
                        <div class="providerLeftPart">
                            <div class="tarifName"><b>{{title}}</b></div>
                            <div class="tarifSpeed"><span>{{speed}}</span></div>
                            <div class="tarifDescription">{{{desc}}}</div>
                        </div>
                        <div class="providerRightPart">
                            <p class="price"><b>{{price}}</b> руб/мес</p>
                            <a href="#order_form" class="button">Подключить</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
                {{#if phone_trfs}}
                <ul class="providersList">
                    {{#each phone_trfs}}
                    <li class="providerRow" tariffid="{{id}}">
                        <div class="providerLogo">
                            <a href="{{../url}}"><img src="{{../logo_120_url}}" alt="{{../title}}"></a>
                        </div>
                        <div class="providerLeftPart">
                            <div class="tarifName"><b>{{title}}</b></div>
                            <div class="tarifSpeed"><span>{{speed}}</span></div>
                            <div class="tarifDescription">{{{desc}}}</div>
                        </div>
                        <div class="providerRightPart">
                            <p class="price"><b>{{price}}</b> руб/мес</p>
                            <a href="#order_form" class="button">Подключить</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{/if}} 
            {{/each}}
        {{/each}}
        {% endverbatim %}
        </div>
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('form.searchForm').on("submit", function(event){
                event.preventDefault();
                var params = $(this).serialize();
                if (params) {
                    get_providers_data(params);
                }
                return false;
            });

            function set_dom(address_id) {
                $('a.button').fancybox({
                    'scrolling': 'no',
                    'titleShow': false,
                    'onClosed': function() {
                        $("#form_invalid").hide();
                    }
                });
                $('a.button').on('click', function(event) {
                    var tariff = $(event.target).parent().parent();
                    var provider = tariff.parent().prev();
                    $('form#order_form input[name=tariff]').val(tariff.attr('tariffid'));
                    $('form#order_form input[name=provider]').val(provider.attr('providerid'));
                    $('form#order_form input[name=address]').val(address_id);
                });

            };

            function get_providers_data(params) {
                var url = '{% url 'address:addresses' %}?search=1'
                if (params) {
                    url = url + '&' + params;
                }
                $.ajax({
                    url: url,
                    success: function( data ) {
                        var source = $("#providers-template").html();
                        var template = Handlebars.compile(source);
                        var context = {results: data,};
                        var html = template(context);
                        $("#providers").remove();
                        $("#address").append(html);
                        set_dom(data[0].id);
                    }
                });
            };
            {%if results %}
            set_dom({{results.0.id}});
            {% endif %}
        });
    </script>

    <script type="text/javascript">
        jQuery('#id_time').datetimepicker({
              //inline:true,
              lang:'ru',
              format: 'Y-m-d H:i',
              minDate: 0,
              minTime: '9:00',
        });
        $(document).on('submit','#order_form', function(event) {
            event.preventDefault();
            if ($("#id_fio").val().length < 1){
                    $("#form_invalid").show();
                    $.fancybox.resize();
                }
            $.fancybox.showActivity();
            $.ajax({
                type: "POST",
                cache: false,
                url: "{% url 'orders:order_create' %}",
                data: $(this).serializeArray(),
                success: function(data) {
                    $.fancybox('<div class="textblock">Заявка отправлена успешно!</div>');
                }
            });

            return false;
        });
    </script>
</section>