<footer>
    <div class="contentWrapper">
        <div class="footercopyright">
            <p>Indev Group © 2014.  All rights reserved.</p>
        </div>
        <div class="bottomNav">
            <ul class="bottomNavList">
                <li class="bottomNavItem"><a href="{% url 'index' %}">Главная</a></li>
                <li class="bottomNavItem"><a href="{% url 'providers:prvdrs_list' %}">Провайдеры</a></li>
                <li class="bottomNavItem"><a href="{% url 'providers:specials' %}">Акции</a></li>
                <li class="bottomNavItem"><a href="{% url 'base:flat_page' 'technologies' %}">Технологии</a></li>
                <li class="bottomNavItem"><a href="{% url 'reviews:reviews_list' %}">Отзывы</a></li>
                <li class="bottomNavItem"><a href="{% url 'base:flat_page' 'about_us' %}">О нас</a></li>
            </ul>
        </div>
    </div>
</footer>