<header class="header">
    <div class="headerWrapper">
        <div class="logo">
            <a href="/">SPB Internet</a>
        </div>
        <div class="topNav">
            <ul class="topNavList">
                <li class="topNavItem"><a href="{% url 'index' %}">Главная</a></li>
                <li class="topNavItem"><a href="{% url 'providers:prvdrs_list' %}">Провайдеры</a></li>
                <li class="topNavItem"><a href="{% url 'providers:specials' %}">Акции</a></li>
                <li class="topNavItem"><a href="{% url 'base:flat_page' 'technologies' %}">Технологии</a></li>
                <li class="topNavItem"><a href="{% url 'reviews:reviews_list' %}">Отзывы</a></li>
                <li class="topNavItem"><a href="{% url 'base:flat_page' 'about_us' %}">О нас</a></li>
            </ul>
        </div>
    </div>
</header>