{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<meta charset="UTF-8">
<title>spb-internet group</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content=""/>
<meta name="keywords" content=""/>

<link href="{{STATIC_PREFIX}}css/jquery-ui-1.10.4.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{STATIC_PREFIX}}css/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_PREFIX}}css/jquery.datetimepicker.css" type="text/css" media="screen" />
<link href="{{STATIC_PREFIX}}css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_PREFIX}}css/owl.theme.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_PREFIX}}css/style.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,700,700italic,500italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/handlebars-v1.3.0.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery-scrollto.js"></script>
<script type="text/javascript" src="{{STATIC_PREFIX}}js/main.js"></script>