{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<section class="news">
    <div class="contentWrapper">
        <h2>ПОСЛЕДНИЕ ОТЗЫВЫ</h2>
        <ul class="newsList">
            {% for provider in providers %}
            <li class="newsItem">
                <a href="{{provider.get_absolute_url}}"><img src="{{provider.adaptive_logo_url}}" alt="{{provider.title}}"></a>
                <div class="newsAnounce">
                    <span class="commentAuthor">{{provider.review_set.actual.last.name}}</span>
                    <time>{{provider.review_set.actual.last.added}}</time>
                    <p>{{provider.review_set.actual.last.text}}</p>
                </div>
                <a href="{% url 'reviews:reviews_list' %}?provider={{provider.pk}}" class="newsMore">Ещё</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>