{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<section class="topBlock">
    <div class="owl-carousel owl-theme" id="partners">
        {% for slide in slider %}
        <div class="owl-item">
            <div class="bannerSlide">
                <img src="{{slide.image_hd_url}}" alt=""/>
            </div>
        </div>
        {% empty %}
        <div class="owl-item">
            <div class="bannerSlide">
                <img src="{{STATIC_PREFIX}}images/page-1_slider-1.jpg" alt=""/>
            </div>
        </div>
        <div class="owl-item">
            <div class="bannerSlide">
                <img src="{{STATIC_PREFIX}}images/page-1_slider-2.jpg" alt=""/>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="contentWrapper onSlide">
        <ul class="vectorslist">
            <li class="vectorcol">
                <div class="vectorWrapper">
                    <a href="{% url 'providers:specials' %}?pk=1"><img src="{{STATIC_PREFIX}}images/internet.png" alt="{{left_block.title}}"></a>
                    {% if left_block %}
                    <h3>{{left_block.title}}</h3>
                    <p>{{left_block.text}}</p>
                    {% else %}
                    <h3>Интернет</h3>
                    <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации модификации</p>
                    {% endif %}
                </div>
            </li>
            <li class="vectorcol">
                <div class="vectorWrapper">
                    <a href="{% url 'providers:specials' %}?pk=2"><img src="{{STATIC_PREFIX}}images/internet-tv.png" alt="{{center_block.title}}"></a>
                    {% if center_block %}
                    <h3>{{center_block.title}}</h3>
                    <p>{{center_block.text}}</p>
                    {% else %}
                    <h3>Интернет + ТВ</h3>
                    <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации</p>
                    {% endif %}
                </div>
            </li>
            <li class="vectorcol">
                <div class="vectorWrapper">
                    <a href="{% url 'providers:specials' %}?pk=3"><img src="{{STATIC_PREFIX}}images/internet-tv-phone.png" alt="{{right_block.title}}"></a>
                    {% if right_block %}
                    <h3>{{right_block.title}}</h3>
                    <p>{{right_block.text}}</p>
                    {% else %}
                    <h3>Интернет + ТВ + Телефония</h3>
                    <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации</p>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</section>